{% extends 'base.html.twig' %}

{% block title %}
    Gérer les campus
{% endblock %}

{% block body %}

    <h1>Gérer les campus</h1>

    <h2>Filtrer les campus</h2>

    <form method="post" action="{{ path('admin_campus') }}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Le nom contient..." name ="search">
            <button type="submit">Rechercher</button>
        </div>
    </form>

    <br>

    <div class="tableau">
        <table cellspacing="0" cellpadding="1" border="1" width="500" >
            <tr style="color:white;background-color:grey">
                <th>Campus</th>
                <th>Actions</th>
            </tr>
            {% for r in res %}
                <div class="campus">
                    <tr>
                        <td>{{ r.nomCampus }}</td>
                        <td><a href="{{ path('admin_deleteCampus', {'id': r.id}) }}">Supprimer</a></td>
                    </tr>
                </div>
            {% endfor %}
            <tr>
                {{ form_start(formCampus) }}
                <td>{{ form_widget(formCampus.nomCampus) }}</td>
                <td><button type="submit">Ajouter</button></td>
                {{ form_end(formCampus) }}
            </tr>
        </table>
    </div>
    </td>
    </tr>
    </table>
    </div>

{% endblock %}