{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>


    <ul>
        <li>Créer un profil manuellement <a href="{{ path('admin_creerProfil')}}"> creerProfil </a> </li>
        <li>Créer des profil en téléchargeant un fichier <a href="{{ path('admin_telechargerProfils')}}">telechargerProfils </a> </li>
        <li>Gérer les profils <a href="{{ path('admin_gererUtilisateurs')}}"> gererUtilisateurs </a> </li>
        <li>Gérer les campus <a href="{{ path('admin_campus')}}"> campus </a> </li>
        <li>Gérer les villes <a href="{{ path('admin_villes')}}"> villes </a> </li>
    </ul>
</div>
{% endblock %}
