{% extends 'base.html.twig' %}

{% block title %}
    Gérer les villes
{% endblock %}

{% block body %}

    <h1>Gérer les villes</h1>

    <h2>Filtrer les villes</h2>

    <form method="post" action="{{ path('admin_villes') }}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Le nom contient..." name ="search">
            <button type="submit">Rechercher</button>
        </div>
    </form>

    <br>

    <div class="tableau">
        <table cellspacing="0" cellpadding="1" border="1" width="500" >
            <tr style="color:white;background-color:grey">
                <th>Ville</th>
                <th>Code postal</th>
                <th>Actions</th>
            </tr>

                {% if res %}
                {% for r in res %}
                    <div class="villes">
                        <tr>
                            <td>{{ r.nomVille }}</td>
                            <td>{{ r.codePostal }}</td>
                            <td><a href="{{ path('admin_deleteVille', {'id': r.id}) }}">Supprimer</a></td>
                        </tr>
                    </div>
                {% endfor %}
                {% endif %}
            <tr>
                {{ form_start(formVille) }}
                <td>{{ form_widget(formVille.nomVille) }}</td>
                <td>{{ form_widget(formVille.codePostal) }}</td>
                <td><button type="submit">Ajouter</button></td>
                {{ form_end(formVille) }}
            </tr>
        </table>
    </div>
    </td>
    </tr>
    </table>
    </div>








{% endblock %}