<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir.com{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('app.css') }}">

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
    <header>
        <a href="{{ path('home') }}" title="sortir.com | Home"><img src="{{ asset('img/logo.png') }}">Sortir.com</a>

        <nav>
            <table>
                <tr>
                    <th><a href="{{ path('home') }}">Villes</a></th>
                    <th><a href="{{ path('home') }}">Campus</a></th>
                    <th><a href="{{ path('home') }}">Accueil</a></th>
                    <th><a href="{{ path('home') }}">Mon profil</a></th>
                    <th><a href="{{ path('home') }}">Se déconnecter</a></th>

                </tr>
            </table>
        </nav>
    </header>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer></footer>
        {% block body %}{% endblock %}
    </body>
</html>
