{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie | {{ parent() }}{% endblock %}

{% block main %}
    <label>Nom de la sortie: {{ sorties.nom }}</label><br>
    <label>Date de la sortie: {{ sorties.dateHeureDebut | date('d/m/Y ') }}</label><br>
    <label>Campus: {{ sorties.campus }}</label><br>
    <label>Lieu: {{ sorties.lieu }}</label><br>

    {{ form_start(motifForm) }}
    <button type="submit">Enregister</button>
    {{ form_end(motifForm) }}

    <form action="{{ path('home') }}">
        <button>Annuler</button>
    </form>



{% endblock %}


