<nav>
    <ul>

      {%  if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

          <li><a href="{{ path('home') }}">Accueil</a></li>
          <li><a href="{{ path('monProfil') }}">Mon profil</a></li>

          <li><a href="{{ path('home') }}">Villes</a></li>
          <li><a href="{{ path('home') }}">Campus</a></li>


            <li><a href="{{ path('logout') }}">Se déconnecter</a> </li>


        {%  else %}

            <li><a href="{{ path('login') }}">Se connecter</a></li>
        {% endif %}
    </ul>
</nav>